body {
    font-family: 'Roboto', sans-serif;
    background: url("https://i.postimg.cc/x92RVC4n/4243790.jpg");
    background-attachment:fixed;
}

.parentContainer {
    display: flex;
    flex-direction: column;
}


.container-table {
    width: 100%;
    height: auto;
    flex: 2;
    justify-content: center;
    align-items: center;
}

